@page "/alphabetChallenge"
@using UI.Services.Contracts
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="container mt-1">
    <h1 class="russian-heading">тест по алфавиту</h1>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-3">@ChallengeLocalState.ChallengeText</h2>
            <input @bind="ChallengeLocalState.ChallengeInputValue" @onkeyup="HandleKeyPress" disabled="@(!ChallengeLocalState.IsChallengeInProgress)" type="text" class="form-control mb-3" style="width: 15%;" placeholder="guess...">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button @onclick="GoClicked" disabled="@ChallengeLocalState.IsGoDisabled" type="button" class="btn btn-white">Go</button>
                <button @onclick="NextClicked" disabled="@ChallengeLocalState.IsNextDisabled" type="button" class="btn btn-blue">Next</button>
                <button @onclick="ResetClicked" type="button" class="btn btn-red">Reset</button>
            </div>
            @if (ChallengeLocalState.Verdict.HasValue)
            {
                @if (ChallengeLocalState.Verdict.Value)
                {
                    <div class="mt-3">
                        <label style="color: lime">Correct</label>
                    </div>
                }
                else
                {
                    <div class="mt-3">
                        <label class="text-danger">Wrong</label>
                    </div>
                }
            }
            <div class="mt-3">
                <label style="color: white;">@ChallengeLocalState.Message</label>
            </div>
        </div>
    </div>
</div>
